/* css starts */
/* body css */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.top-blue-coloring{
    background-color: rgb(45, 37, 160);
    color: white;
    padding-top: 40px;
    margin-bottom: 50px;
}
/* navigation bar css */
nav{
    width: auto;
    margin-left: 156px;
    margin-right: 124px;
    /* margin-top: 40px; */
}
nav ul{
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
nav li{
    list-style: none;
    margin-right: 36px;
}
nav li a{   
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}
.login-button{
    margin-left: auto;
}
.login-button, content{
    display: flex;
    align-items: center;
    padding: 6px 24px ;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;

}
.login-button img{
    width: 24px;
    height: 24px;
}

/* top sections css */

.football-kick{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 156px;
    margin-right: 124px;
    margin-top: 67px;
}
 h1, .kick-title{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    line-height: 65px;
}
.kick-title{
    margin-bottom: 16px;
}
.title-button{
    width: 385px;
    height: 230px;
    margin-right: 102px;
}
.watch-button{
    width: 168px;
    height: 44px;
    background-color:  #E02C6D;
    color:#FFFFFF ;
    border: none;
    font-size: 15px;
    

}
.kick-img img{
    width: 488px;
    height: 390px;
}
.kick-img{
    margin-bottom: 70px;
    
}
/* top effect */
.football-kick:hover .kick-img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
/* .football-kick:hover .kick-title{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
} */
.football-kick:hover .watch-button{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

/* 2nd middle section starts */

.second-middle{
    width: 100%;
    display: flex;
    justify-content: center; 
}

.align-three{
    width: 80%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

.photo-album{
width: 262px;
height: 420px;
padding: 12px;
margin-bottom: 27px;
box-shadow: 3px 3px 12px rgb(207, 216, 216);

}
.player-photo img{
    width: 100%;
}
.player-detail h2{
    color: #18191F;
}
.player-detail p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #858585;

}

/* (messi drivling section css third section) */


.messi-run{
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 100px;

}
.messi-article{
    width: 450px;
height: 100px;
}
.messi-article h1{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 60px;
/* or 125% */


color: #0A0826;

}

.messi-article p{
    
font-size: 14px;
line-height: 28px;
/* or 175% */


color: #6C6C6C;

}
.messi-image{

}
.messi-image img{
    width: 500px;
height: 370px;
    
}

.messi-run:hover .messi-image{
    transform: scale(1.2) ;
    transition: transform 2s ease-in-out;
}
.messi-run:hover .watch-button{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

/* last section and footer css */

/* .all-lastpart{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
} */
.last-part{
    display: flex;
    justify-content: center;
    
}


.last-footbalimg{
    display: flex;
    justify-content: center;
}
.last-footbalimg img{
    width: 450.87px;
height: 100px;
}
.all-icon{
    display: flex;
    justify-content: center;
}
.all-icon img{
    margin: 8px;
    width: 28px;
height: 28px;
}

.footer-div{
    display: flex;
    justify-content: center;
    font-size: 12px;
line-height: 24px;
font-weight: 400;
}

